h1.headerTitle {
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  color: #4d4947;
}

.headerTitle .text {
  margin-right: 10px;
}

@media (max-width: 768px) {
    h1.headerTitle {
        display: flex;
        flex-direction: column;
    }
}