.menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px 10px;
    background: #fff;
}

.link {
    margin-right: 10px;
    margin-top: 10px;
    color: #386195;
}

.link:not(:last-child):after{
    content: "|";
    margin-left: 10px;
}