.dashboardContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  background: #f8f8f7;
  gap: 30px;
}

.Wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
}

.h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .dashboardContainer {
    padding: 20px 12px;
  }
  .wrapper {
    padding: 5px 20px 20px;
  }
  .h1 {
    font-size: 22px;
  }
}
