.centerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #e8f5e9; 
   overflow-x: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
  }
}