.button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: unset;
  padding: 0;
  background-color: transparent;
}

.primary {
  background-image: url("../../../assets/trash-jw.svg");
}

.danger {
  background-image: url("../../../assets/check-jw.svg");
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
