.button {
  color: #f0f4f0;
  background: #13a437;
  border: none;
  border-radius: 4px;
  padding: 0.3em 1em;
  cursor: pointer;
  margin-left: 8px;
  transition: background 0.2s;
   min-width: 120px;
   box-sizing: border-box;
  text-align: center;
}

.primary {
  background: #eb6212;
   margin-left: 0;
}

.danger {
  background: #66bb6a;
  margin-left: 8px;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}