/* reset styles */
body{
    display: unset;
    margin: unset;
    min-width: unset;
    min-height: unset;
    background: unset;
}
ul {
    padding: 0;
}

ul li {
    list-style: none;
}

h3 {
    margin: 0;
}
/* end reset styles */

h2 {
    font-weight: 600;
    color: #555;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: #F8F8F7;
    height: calc(100vh - 90px);
}

.wrapper {
  max-width: 800px;
  padding: 10px 18px;
  margin: 0 auto;
}

.schedulesLink {
    display: block;
    margin-bottom: 40px;
}

.subtitle {
    font-size: 21px;
    margin: 15px 0;
}

@media(max-width: 768px){
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 10px;
    }
}

/*==================================================*/
/*============ Temp styles for iframe ==============*/
/*==================================================*/

.temp {
    display: none;
}

.iframeContainer {
    overflow: hidden;
    margin: 20px 0 80px;
}

iframe {
    margin: -29px -1px -33px;
}

/*==================================================*/
/*========== END Temp styles for iframe ============*/
/*==================================================*/