/* reset styles */
body{
    display: unset;
    margin: unset;
    min-width: unset;
    min-height: unset;
    background: unset;
    overflow: hidden;
}
ul {
    padding: 0;
}

ul li {
    list-style: none;
}

h3 {
    margin: 0;
}
/* end reset styles */

h2 {
    font-weight: 600;
    color: #555;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: #F8F8F7;
    height: 100vh;
    padding: 20px;
}

.wrapper {
  max-width: 800px;
  padding: 10px 18px;
  margin: 0 auto;
}

.schedulesLink {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.schedulesLink:before {
    content: '';
    background-image: url("../../assets/document.jpg");
    background-size: contain;
    display: block;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.subtitle {
    font-size: 21px;
    margin: 15px 0;
    color: #4d4947;
}

.headerTitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

@media(max-width: 768px){
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 10px;
    }
}
