.daySchedule {
  width: 100%;
  border: 1px solid #e7e6e4;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0 2px 8px 0 #a5d6a733;
}

.daySchedule .dateScheduleHeader {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  margin: -20px -20px -10px;
  padding: 0 20px;
  background-color: #f0f0ef;
}

.daySchedule h2 {
  border: none;
  color: #4d4947;
}

.daySchedule .dateSchedule {
  font-weight: 400;
  font-size: 18px;
  color: #74706d;
}

.locationBlock {
  margin-top: 30px;
}

.daySchedule:first-child h3:after {

}

.daySchedule:first-child .locationBlock .timeRow:nth-child(2) {
  position: relative;
  padding: 50px 10px 20px;
  margin-left: -5px;
  margin-right: -5px;
  background: #f8f8f7;
  border-radius: 6px;
}

.daySchedule:first-child .locationBlock .timeRow:nth-child(2):before {
  content: 'Лікарня';
  position: absolute;
  top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.locationBlock > h3 {
  color: #4d4947;
  margin-bottom: 20px;
  font-size: 1.2rem;
  padding-bottom: 0.3rem;
}

.timeRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 20px;
}

.timeCell {
  margin-right: 10px;
  color: #4d4947;
  font-weight: bold;
}

.slotsCellWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.slotCell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(50% - 10px);
}

.slotCell input[type="text"] {
  max-width: 100%;
  width: calc(100% - 40px);
  padding: 6px 8px;
  border: 1px solid #f0f0ef;
  border-radius: 6px;
  font-size: 0.9rem;
  transition: border-color 0.3s ease;
  background-color: #fff;
  color: #4d4947;
}

.slotCell input[type="text"]:focus {
  border-color: #e7e6e4;
  outline: none;
}

.readonlyInput {
  max-width: 100%;
  width: calc(100% - 40px);
  background-color: #e7e6e4;
  border: 1px solid #d5d4d2;
  border-radius: 6px;
  padding: 6px 8px;
  font-size: 0.9rem;
  color: #555;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .timeRow {
    align-items: start;
    gap: unset;
  }

  .slotCell {
    width: 100%;
    margin-bottom: 10px;
  }

  .daySchedule .dateScheduleHeader {
    padding: 20px;
  }

  .daySchedule .dateScheduleHeader h2 {
    margin: 0;
    padding: 0;
  }
}
