/* reset styles */
body {
  display: unset;
  margin: unset;
  min-width: unset;
  min-height: unset;
  background: unset;
  overflow: hidden;
}
ul {
  padding: 0;
}
ul li {
  list-style: none;
}
h3 {
  margin: 0;
  line-height: 1;
}
/* end reset styles */

h2 {
  font-weight: 600;
  color: #555;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: #F8F8F7;
  height: 100vh;
}

.wrapper {
  max-width: 800px;
  padding: 10px 18px;
  margin: 0 auto;
}

.headerTitle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title .subtitle {
  font-size: 30px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.list .listHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0ef;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(50% - 10px);
  border: 1px solid #e7e6e4;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 5px;
  background: #fff;
  box-shadow: 0 2px 8px 0 #a5d6a733;
}

.list div {
    width: 100%;
}

.list .item {
    color: #000;
}

.list .listHeader .item {
    font-weight: 700;
    padding: 20px 0;
    color: #000;
}

.list .listContent {
    display: flex;
    justify-content: space-evenly;
}

.list .listContent .item {
    padding: 20px 0;
}

.listDate {
    margin-right: 20px;
}

@media (max-width: 992px) {
    .list li {
        width: calc(50% - 10px);
    }
}

@media (max-width: 768px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .headerTitle {
    flex-direction: column;
  }
  .headerTitle h1 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .title .subtitle {
    font-size: 30px;
  }
  .list li {
      width: 100%;
      margin-bottom: 10px;
  }
}


@page {
  margin: 10px 30px 0 30px;
  padding: 0;
}
