/* reset styles */
body{
    display: unset;
    margin: unset;
    min-width: unset;
    min-height: unset;
    background: unset;
}
ul {
    padding: 0;
}
ul li {
    list-style: none;
}
h3 {
    margin: 0;
    line-height: 1;
}
/* end reset styles */

h2 {
    font-weight: 600;
    color: #555;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.headerTitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.headerTitle h2.subtitle {
    font-size: 30px;
    border: none;
    color: unset;
}

.time{
    margin-right: 15px;
    color: #555;
}

.treasuresNumber,
.ministryNumber,
.lifeNumber {
    margin: 0 15px 0 0;
    font-size: 18px;
    font-weight: 600;
}

.treasuresNumber,
.treasuresText {
    color: #3C7F8B;
}

.ministryNumber,
.ministryText {
    color: #C78808;
}

.lifeNumber,
.lifeText {
    color: #98121D;
}

.weeksContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.weeksItem {
    display: flex;
    flex-direction: column;
    width: calc(50% - 40px);
    margin-bottom: 40px;
}

.weeksItem:nth-child(odd){
    padding-right: 40px;
    border-right: 1px dashed #000;
}

.weekContent {
    padding-left: 15px;
}
.topBlock {
    margin-bottom: 10px;
}

.personRole {
    margin-right: 4px; 
    font-weight: 600;   
    color: #555;
}
.person {
    font-size: 18px;
}

.introductionConclusion {
    font-weight: 600;
}

.introductionConclusion .time,
.introductionConclusion .introductionConclusionTime {
    font-weight: 400;
}

.treasuresTitle,
.ministryTitle,
.lifeTitle {
    display: flex;
    align-items: end;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.treasuresImg,
.ministryImg,
.lifeImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.middleBlock {
    margin-top: 15px;
    font-weight: 600;
}

.middleBlock .time {
    font-weight: 400;
}

.lifeList {
    margin-top: 0;
}

.weekFooter {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 2px solid #000;
}

.footerItem.cleaning{
    display: flex;
    align-items: baseline;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #000;
}
.footerTitle {
    color: #555;
    margin-right: 20px;
}

@media(max-width: 768px){
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .weeksItem {
        width: calc(100% - 20px);
    }
    .weeksItem:nth-child(odd){
        padding-right: 0;
    }
    .headerTitle {
        flex-direction: column;
    }
    .headerTitle h1 {
        font-size: 30px;
        margin-bottom: 0;
    }
    .headerTitle .subtitle {
        font-size: 28px;
	    margin-top: 10px;
    }
    .footerItem.service .footerListItem{
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }
    .weeksItem:nth-child(odd){
        border: none;
    }
}

@page {
    margin: 10px 30px 0 30px;
    padding: 0;
}

@media print {

    html, body {
        width: 210mm;
        margin: 0;
        padding: 0;
        background: #fff !important;
        color: #000 !important;
        font-size: 9pt !important;
        box-sizing: border-box;
    }

    .container {
        max-width: 100vw;
        padding: 0;
        margin: 0;
    }

    .headerTitle {
        font-size: 8pt;
        margin-bottom: 20px;
        flex-direction: row;
    }

    .weeksContainer {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: space-between !important;
        align-items: stretch !important;
        width: 100%;
        margin: 0;
        padding: 0;
        gap: 0;
    }

    .weeksItem {
        width: 50% !important;
        margin-bottom: 20px !important;
        box-sizing: border-box;
        page-break-inside: avoid;
    }

    .weeksItem:nth-child(even){
        border-left: 1px dashed #000;
        padding-left: 40px;
    }

    .weekContent {
        padding-left: 5px !important;
    }

    .weekTitle {
        font-size: 10pt !important;
        margin: 0 0 4px 0 !important;
        padding: 0 0 4px 0 !important;
    }

    .footerTitle {
        font-size: 10pt !important;
        font-weight: 700;
    }

    .treasuresTitle, .ministryTitle, .lifeTitle {
        margin: 0 0 4px 0 !important;
        padding: 0 0 4px 0 !important;
        width: 85% !important;
    }

    ul {
        margin: 0 0 4px 0 !important;
        padding: 0 !important;
    }

    .middleBlock{
        margin: 0 !important;
    }

    .treasuresText, .ministryText, .lifeText {
        font-size: 9pt !important;
        font-weight: 700;
    }

    .personRole, .time, .introductionConclusion {
        font-size: 8pt !important;
    }

    .person {
        font-size: 9pt !important;
    }

    .personRole{
        padding-right: 10px;
    }

    .treasuresImg, .ministryImg, .lifeImg {
        width: 25px !important;
        height: 25px !important;
        margin-right: 4px !important;
    }

    .weekFooter {
        padding-top: 4px !important;
        margin-top: 4px !important;
        border-top: 1px solid #000 !important;
    }

    .footerItem.cleaning {
        padding: 0 !important;
        margin: 0 !important;
        border: none !important;
    }

    * {
        box-shadow: none !important;
        background: none !important;
    }
    
    .treasuresNumber,
    .ministryNumber,
    .lifeNumber {
        font-size: 9pt !important;
        font-weight: 700 !important;
    }
    
}
