/* reset styles */
body{
    display: unset;
    margin: unset;
    min-width: unset;
    min-height: unset;
    background: unset;
    overflow: hidden;
}
ul {
    padding: 0;
}
ul li {
    list-style: none;
}

h3 {
    margin: 0;
    line-height: 1;
}
/* end reset styles */

h2 {
    font-weight: 600;
    color: #555;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #F8F8F7;
    height: 100vh;
}

.wrapper {
  max-width: 800px;
  padding: 10px 18px;
  margin: 0 auto;
}

a {
    color: #4171ae;
}

.headerTitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.schedulesLink {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.schedulesLink:before {
    content: '';
    background-image: url("../../assets/week.png");
    background-size: contain;
    display: block;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.publicTalkBlock,
.watchtowerBlock,
.fieldServiceBlock {
    margin: 0 -20px 20px;
    padding: 0 20px 20px;
    border-bottom: 1px solid #d5d4d2;
}

.publicTalkTitleText {
    font-size: 24px;
    font-weight: 700;
}

.headerTitle h2.subtitle {
    font-size: 30px;
    border: none;
    color: unset;
}

.time {
    margin-right: 15px;
    color: #555;
}

.treasuresNumber,
.ministryNumber,
.lifeNumber {
    margin: 0 15px 0 0;
    font-size: 18px;
    font-weight: 600;
}

.treasuresNumber,
.treasuresText {
    color: #3C7F8B;
}

.ministryNumber,
.ministryText {
    color: #C78808;
}

.lifeNumber,
.lifeText {
    color: #98121D;
}

.weekTitle {
    border-bottom: 2px solid #a29d9a;
}

.weekContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 40px;
}

.cleaningkWrapper {
    width: 100%;
    background-color: #e7e6e4;
    border-radius: 4px;
}

.cleaningkWrapper .person {
    font-weight: 600;   
    color: #555;
    font-size: 16px;
}

.lifeMinistryWrapper {
    width: calc(50% - 20px);
}

.lifeMinistryWrapper .cleaningkWrapper {
    display: none;
}

.watchtowerPublicTalkWrapper {
    width: calc(50% - 40px);
    background: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    height: max-content;
}

.watchtowerPublicTalkWrapper .weekFooter {
    border: none;
    padding: 0;
}

.watchtowerPublicTalkTitle {
    margin: 0 -20px 20px;
    padding: 0 20px 20px;
    border-bottom: 1px solid #d5d4d2;
}

.lifeMinistryTitle {
    margin: 15px 0;
}

.watchtowerPublicTalkTitle,
.lifeMinistryTitle {
    font-size: 21px;
}

.watchtowerText,
.publicTalkText,
.fieldServiceText {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.publicTalkContent {
    display: flex;
    flex-direction: column;
}

.lifeMinistryContent {
    padding-left: 15px;
}

.personRole {
    margin-right: 4px; 
    font-weight: 600;   
    color: #555;
}
.person {
    font-size: 18px;
}

.introductionConclusion {
    font-weight: 600;
}

.introductionConclusion .time,
.introductionConclusion .introductionConclusionTime {
    font-weight: 400;
}

.treasuresTitle,
.ministryTitle,
.lifeTitle,
.publicTalkTitle,
.watchtowerTitle,
.fieldServiceTitle {
    display: flex;
    align-items: end;
    padding-bottom: 10px;
}

.treasuresTitle,
.ministryTitle,
.lifeTitle {
    border-bottom: 1px solid #d5d4d2;
}

.treasuresImg,
.ministryImg,
.lifeImg,
.publicTalkImg,
.watchtowerImg,
.fieldServiceImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.middleBlock {
    margin-top: 15px;
    font-weight: 600;
}

.middleBlock .time {
    font-weight: 400;
}

.lifeList {
    margin-top: 0;
}

.weekFooter {
    padding: 15px 0 0 15px;;
    margin-top: 15px;
    border-top: 2px solid #d5d4d2;
}

.footerItem.cleaning {
    display: flex;
    align-items: baseline;
    padding: 10px;
}

.footerTitle {
    color: #555;
    margin-right: 20px;
}

@media(max-width: 768px ) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 10px;
    }

    .headerTitle {
        flex-direction: column;
    }

    .headerTitle h1 {
        font-size: 30px;
        margin-bottom: 0;
    }

    .headerTitle .subtitle {
        font-size: 28px;
	    margin-top: 10px;
    }

    .footerItem.service .footerListItem{
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }

    .weeksItem:nth-child(odd){
        border: none;
    }

    .lifeMinistryWrapper,
    .watchtowerPublicTalkWrapper {
        width: 100%;
    }

    .cleaningkWrapper {
        margin-top: 15px;
    }

    .lifeMinistryWrapper .cleaningkWrapper {
        display: block;
        margin: 15px 0 25px;
    }
}

@page {
    margin: 10px 30px 0 30px;
    padding: 0;
}

@media print {

    html, body {
        width: 210mm;
        margin: 0;
        padding: 0;
        background: #fff !important;
        color: #000 !important;
        font-size: 9pt !important;
        box-sizing: border-box;
    }

    .container {
        max-width: 100vw;
        padding: 0;
        margin: 0;
    }

    .headerTitle {
        font-size: 8pt;
        margin-bottom: 20px;
        flex-direction: row;
    }

    .weeksContainer {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: space-between !important;
        align-items: stretch !important;
        width: 100%;
        margin: 0;
        padding: 0;
        gap: 0;
    }

    .weeksItem {
        width: 50% !important;
        margin-bottom: 20px !important;
        box-sizing: border-box;
        page-break-inside: avoid;
    }

    .weeksItem:nth-child(even){
        border-left: 1px dashed #000;
        padding-left: 40px;
    }

    .weekContent {
        padding-left: 5px !important;
    }

    .weekTitle {
        font-size: 10pt !important;
        margin: 0 0 4px 0 !important;
        padding: 0 0 4px 0 !important;
    }

    .footerTitle {
        font-size: 10pt !important;
        font-weight: 700;
    }

    .treasuresTitle,
    .ministryTitle,
    .lifeTitle {
        margin: 0 0 4px 0 !important;
        padding: 0 0 4px 0 !important;
        width: 85% !important;
    }

    ul {
        margin: 0 0 4px 0 !important;
        padding: 0 !important;
    }

    .middleBlock{
        margin: 0 !important;
    }

    .treasuresText,
    .ministryText,
    .lifeText–±
    .ministryText {
        font-size: 9pt !important;
        font-weight: 700;
    }

    .personRole, .time, .introductionConclusion {
        font-size: 8pt !important;
    }

    .person {
        font-size: 9pt !important;
    }

    .personRole{
        padding-right: 10px;
    }

    .treasuresImg, .ministryImg, .lifeImg {
        width: 25px !important;
        height: 25px !important;
        margin-right: 4px !important;
    }

    .weekFooter {
        padding-top: 4px !important;
        margin-top: 4px !important;
        border-top: 1px solid #000 !important;
    }

    .footerItem.cleaning {
        padding: 0 !important;
        margin: 0 !important;
        border: none !important;
    }

    * {
        box-shadow: none !important;
        background: none !important;
    }
    
    .treasuresNumber,
    .ministryNumber,
    .lifeNumber {
        font-size: 9pt !important;
        font-weight: 700 !important;
    }
    
}

/*==================================================*/
/*================= Temp styles ====================*/
/*==================================================*/

.temp {
    display: none;
}

/*==================================================*/
/*================ END Temp styles =================*/
/*==================================================*/