.meetingsContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2rem 20px 20px;
  background: #f8f8f7;
}

.listSection {
  display: flex;
  width: 500px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h3 {
}

/* ul {
  align-items: center;
} */

.scheduleItem {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.itemButtons {
  justify-content: space-between;
  margin-top: -10px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.inputGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
  /* overflow-x: auto; */
}

.inputField {
  max-width: 100%;
  width: calc(100% - 40px);
  background-color: #e7e6e4;
  border: 1px solid #d5d4d2;
  border-radius: 6px;
  padding: 6px 8px;
  font-size: 0.9rem;
  color: #555;
}

@media (max-width: 768px) {
  .meetingsContainer {
    padding: 20px 16px;
    gap: 20px;
  }

  .meetingsContainer h3 {
    font-size: 18px;
  }

  .scheduleItem {
    flex-direction: row;
    /* align-items: flex-start; */
    gap: 8px;
  }

  .inputGroup {
    flex-direction: row;
  }

  .inputField {
    flex: 1 1 100%;
    width: 100%;
    font-size: 13px;
  }
}
